<!DOCTYPE html>
<html lang="en">
<!-- Kvictor.com -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>About Us | Kvictor</title>
  <link rel="apple-touch-icon" sizes="57x57" href="public/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="public/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="public/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="public/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="public/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="public/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="public/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="public/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="public/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="public/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="public/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="public/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="public/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="public/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="public/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all" href="public/assets/application.css  " data-turbolinks-track="reload" />
  <script src="public/assets/application.js  " data-turbolinks-track="reload"></script>
</head>

<body>
  <nav class="mobile-nav visible-xs-block">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="logo"><a href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
        <div class="collapsed" data-target="#collapse-mobile-nav" data-toggle="collapse" id="nav-icon"><span></span><span></span><span></span></div>
      </div>
      <div class="collapse" id="collapse-mobile-nav">
        <ul class="navbar-nav mr-auto">
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/about-us">About us</a></li>
          <li><a href="/careers">Careers</a></li>
        </ul>
        <div class="text-align-center"><button class="contact"><a href="/contact">Contact us</a></button></div>
      </div>
    </div>
  </nav>
  <div class="stripes-top">
    <div class="desktop visible-lg">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
    <div class="mobile visible-xs-block">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
  </div>
  <div id="about">
    <div class="head-section">
      <div class="overlay">
        <div class="container above-stripe">
          <div class="desktop-nav hidden-xs">
            <div class="logo"><a href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
            <div class="nav">
              <ul class="list-inline">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="/careers">Careers</a></li>
              </ul>
            </div>
            <div class="contact"><a class="contact" href="/contact">Contact us</a></div>
          </div>
          <h2 class="span-like">ABOUT US</h2>
          <h1 class="h2-like">Who we are</h1>
          <p>Kvictor is a bunch of young and motivated tech enthusiasts passionate about delivering top quality software and having fun doing it. We’re a mixture of various talents and personalities which makes us an effective and comprehensive
            team.</p><a class="arrow-link" href="career.html">Join the team<i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="team-section">
      <div class="container">
        <div class="text-align-center business-desc">
          <p class="highlight"><span>Our story</span><br /> It all started in 2016 when two fellas decided to start building good software together. As most companies that started from nothing, their first clients were their friends. After a few
            successful projects, where they proved their quality and professionalism, they started collaborating with companies from various corners of the world. Now, after 3 years Kvictor is a company of 20 sharp minds who make a mature
            top&#8209;quality software development agency that supports companies all over the world.</p>
        </div>
        <!-- <div class="text-align-center">
                    <h2 class="h3-like">Meet the team</h2>
                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="team-member"><a rel="nofollow">
                                    <div class="portrait">
                                        <div class="cover">
                                            <div class="hashtags">
                                                <h4>#TECHNOLOGY #QUALITY #TRUEJEDI</h4>
                                            </div>
                                        </div><img alt="Paragk" src="public/assets/team/parag.png" />
                                    </div>
                                </a>
                                <h3>Parag Khobragade</h3><span>CEO/CSO &amp; CO-FOUNDER</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="team-member"><a rel="nofollow">
                                    <div class="portrait">
                                        <div class="cover">
                                            <div class="hashtags">
                                                <h4>#STARTUPS #GROWTH #FOODLOVER</h4>
                                            </div>
                                        </div><img alt="pavan_j" src="public/assets/team/pavan.png" />
                                    </div>
                                </a>
                                <h3>Pawan Jambhule</h3><span>CO-FOUNDER</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="team-member"><a rel="nofollow">
                                    <div class="portrait">
                                        <div class="cover">
                                            <div class="hashtags">
                                                <h4>#TECHNOLOGY #DESIGN #CLASSIC</h4>
                                            </div>
                                        </div><img alt="NIKLESH" src="public/assets/team/niklesh.png" />
                                    </div>
                                </a>
                                <h3>Niklesh Tondare</h3><span>CTO</span>
                            </div>
                        </div>
                    </div>
                </div> -->
      </div>
    </div>

    <div class="contact-small-section">
      <div class="container above-stripe">
        <div class="text-align-center">
          <div class="box"><span></span>
            <h2>Do you want us to become your remote dev team?</h2><a class="common" href="/contact">Get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stripes-bottom">
    <div class="desktop visible-lg">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-3 col logo-col"><a class="active" aria-current="page" href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo-white@2x-4032c6002c03f81dbb6d165b29159bb501465affe3108e090fc43100bd258eec.png 2x"
            src="public/assets/common/logo-white-7ffb77ff385f90229ac8168274bd3317d4b3f0db32309d659173230bda59c838.png" /></a></div>
      <div class="col-xs-12 col-sm-6 col-md-2 col menu-col"><span>COMPANY</span>
        <div class="content">
          <p><a href="/services">Services</a></p>
          <p><a href="/portfolio">Portfolio</a></p>
          <p><a href="/about-us">About us</a></p>
          <p><a href="/careers">Careers</a></p>
          <p><a href="/contact">Contact Us</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col info-col"><span>INFO AND CONTACT</span>
        <div class="content">
          <p>Kvictor Pvt Ltd <br />Flat no G-03, Bramhaputra Apts,<br />Aakar Nagar, M B Estate <br />Nagpur, India 440013.</p>
          <p> Phone : +91 - 7620776511 </p>
          <br />
          <a href="mailto:info@Kvictor.com" target="_blank">info@kvictor.com<i class="fa fa-envelope"></i></a><br /><a href="skype:nikhiltj.007?call">Skype call<i class="fab fa-skype"></i></a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col follow-col"><span>FOLLOW US</span>
        <div class="d-block media"><a href="https://www.facebook.com/Kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.linkedin.com/company/kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-linkedin-in"></i></a><a
            href="https://www.instagram.com/Kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/kvictor.com" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://github.com/Kvictor"
            rel="nofollow" target="_blank"><i class="fab fa-github"></i></a></div>
      </div>
      <div class="copyright col-xs-12">Copyright © 2019 Kvictor. All rights reserved.</div>
    </div>
  </footer>
</body>

</html>
