<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title> Kvictor | Web Development Company</title>
  <link rel="apple-touch-icon" sizes="57x57" href="public/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="public/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="public/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="public/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="public/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="public/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="public/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="public/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="public/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="public/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="public/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="public/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="public/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="public/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="public/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all" href="public/assets/application.css" data-turbolinks-track="reload" />
  <script src="public/assets/application.js" data-turbolinks-track="reload"></script>
</head>

<body>
  <nav class="mobile-nav visible-xs-block">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="logo"><a href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
        <div class="collapsed" data-target="#collapse-mobile-nav" data-toggle="collapse" id="nav-icon"><span></span><span></span><span></span></div>
      </div>
      <div class="collapse" id="collapse-mobile-nav">
        <ul class="navbar-nav mr-auto">
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/about-us">About us</a></li>
          <li><a href="/careers">Careers</a></li>
        </ul>
        <div class="text-align-center"><button class="contact"><a href="/contact">Contact us</a></button></div>
      </div>
    </div>
  </nav>
  <div class="stripes-top">
    <div class="desktop visible-lg">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
    <div class="mobile visible-xs-block">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
  </div>
  <div id="home">
    <div class="head-section">
      <div class="overlay">
        <div class="container above-stripe">
          <div class="desktop-nav hidden-xs">
            <div class="logo"><a href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
            <div class="nav">
    <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/careers">Careers</a></li>
    </ul>
</div>
<div class="contact"><a class="contact" href="/contact">Contact us</a></div>
            
          </div>
          <h1>We're The Masters</h1>
          <div class="typing"><span class="h1-like">of </span><span class="typed h1-like">Programming </span></div><a class="common head-button" href="contact.html">Get a free quote</a>
        </div>
      </div>
    </div>
    <div class="offer-section">
      <div class="container">
        <div class="section-name with-line-after">
          <h2 class="h3-like">How we can help you</h2>
        </div>
        <div class="tiles-menu">
          <div class="tiles row">
            <div class="col-md-4 col-xs-12 col-sm-6 text-align-center"><a class="tile-link" href="services.html#creation">
                <div class="tile">
                  <!-- <div class="tile-ico pencil-ruler"></div> -->
                  <img src="public/assets/icons/outsource.png">
                  <div class="tile-title">
                    <h3 class="no-margin">Outsourcing</h3>
                  </div>
                  <p class="tile-desc">Expand your team by our top-notch developers</p>
                </div>
              </a></div>
            <div class="col-md-4 col-xs-12 col-sm-6 text-align-center"><a class="tile-link" href="services.html#improvement">
                <div class="tile">
                  <!-- <div class="tile-ico equalizer"></div> -->
                  <img src="public/assets/icons/building.png">
                  <div class="tile-title">
                    <h3 class="no-margin">Building Apps</h3>
                  </div>
                  <p class="tile-desc"> We develop web and hybrid mobile apps from scratch</p>
                </div>
              </a></div>
            <div class="col-md-4 col-xs-12 col-sm-6 text-align-center"><a class="tile-link" href="services.html#outsourcing">
                <div class="tile">
                  <!-- <div class="tile-ico wrench"></div> -->
                  <img src="public/assets/icons/improve.png">
                  <div class="tile-title">
                    <h3 class="no-margin">Improving</h3>
                  </div>
                  <p class="tile-desc">Let us upgrade your existing app to the latest tech standards</p>
                </div>
              </a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="technologies-section" id="technologies">
      <div class="container">
        <div class="section-name technologies">
          <h2 class="h3-like">We master the art of</h2>
        </div>
        <div class="owl-carousel owl-theme technologies-carousel">
          <div class="item">
            <div class="img"><img height="65" width="65" class="tm-icon icon-angularjs" alt="angularjs" srcset="public/assets/technologies/angularjs@2x-4d8097754007462ccdb1ac844cd7afdd6ba13fddefcfd910766639460ff65d5f.png 2x" src="public/assets/technologies/angularjs-a1975f6d607f1bf6bed332d70de129a555d248d8383b511ddc81d2c8fc5151ec.png" /></div>
            <div class="technology-name">AngularJS</div>
          </div>
          <div class="item">
            <div class="img"><img height="65" width="65" class="tm-icon icon-angular" alt="angular" srcset="public/assets/technologies/angular@2x-2473e0ed86bb4090f8ad8523b03a82cfef76b3488e8232cd601f5f382158fd2a.png 2x" src="public/assets/technologies/angular-f024abd424ea7a7f595d21969535a45c3479b3c5d26a871a7b9716602f196fd2.png" /></div>
            <div class="technology-name">Angular</div>
          </div>
          <div class="item">
            <div class="img"><img height="65" width="65" class="tm-icon icon-html" alt="html" srcset="public/assets/technologies/html@2x-4a5140c5d0ff436a4676f63aba905f86631cbc93880bc702111bc7b0c82e868f.png 2x" src="public/assets/technologies/html-f77ae20f44aa0d8b757051ac7644e18ffacbd49363fa0293b751fc91d141cbdd.png" /></div>
            <div class="technology-name">HTML</div>
          </div>
          <div class="item">
            <div class="img"><img height="65" width="65" class="tm-icon icon-javascript" alt="javascript" srcset="public/assets/technologies/javascript@2x-b37d397c94440932960a6e1bf821145acbb42305b9b4e655bb21d1e8bf8fae2b.png 2x" src="public/assets/technologies/javascript-1c8fc20438369c51e591a0f40184d81c19a856285384bdc7543894cfbad29a90.png" /></div>
            <div class="technology-name">JavaScript</div>
          </div>
          <div class="item">
            <div class="img"><img height="65" width="65" class="tm-icon icon-python" alt="python" srcset="public/assets/technologies/python@2x-ff333febcc0a40409578a6f0d1645e1bbed1f29326457f3d78773d7349c28afb.png 2x" src="public/assets/technologies/python-e2b859580533eb03210193c9c344e304d5afc5cc8e77e407057e6a796f3b4b5e.png" /></div>
            <div class="technology-name">Python</div>
          </div>
          <div class="item">
            <div class="img"><img height="65" width="65" class="tm-icon icon-ionic" alt="ionic" srcset="public/assets/technologies/ionic@2x-413049e8f51373dcef2c8fe200a47d39d16f605291f736f2fc35c77e1b477db8.png 2x" src="public/assets/technologies/ionic-19eba8a218c7712bcbd73893c32633edca7cce090e47a2c7a5961f72c2c21835.png" /></div>
            <div class="technology-name">Ionic</div>
          </div>
          <div class="item">
            <div class="img"><img height="65" width="65" class="tm-icon icon-node" alt="node" srcset="public/assets/technologies/node@2x-43ca633bbd03cc7e8d03a0f2a175b540739e27025a93dacac7ee44f7ebdf2a7e.png 2x" src="public/assets/technologies/node-7abbb716634ccab9f773167a13242ca25441fdf18dbec9198deb923902013a78.png" /></div>
            <div class="technology-name">Node.JS</div>
          </div>
          <div class="item">
            <div class="img"><img height="65" width="65" class="tm-icon icon-react" alt="react" srcset="public/assets/technologies/react@2x-522f36d8a79c38fc02d2b2e14fcb5d8be717b8c1f9ba785ece536c8eb274beb7.png 2x" src="public/assets/technologies/react-5fa63e09a8e4c8f4f7cae3c1f714982861f27ba6357b9d7bed1389c052e86977.png" /></div>
            <div class="technology-name">React</div>
          </div>
        </div>
        <div class="learn-more"><a class="common" href="services.html">Let’s talk about your project</a></div>
      </div>
    </div>
    <div class="case-studies-section">
      <div class="container">
        <div class="text-align-center"><span>PORTFOLIO</span>
          <h2>They trusted us</h2>
          <p>We’re doers, not talkers.<br />We’ve helped over 100 companies worldwide achieve their goals.</p>
        </div>
        <div class="owl-carousel owl-theme case-studies-carousel">
          <div class="case-study-item"><a href="portfolio/wimdu.html">
              <div class="img-container"><img alt="Wimdu" srcset="public/assets/case_studies/maitriweb.png 2x" src="public/assets/case_studies/maitriweb.png" /></div>
              <div class="description-box">
                <div class="logo pull-left"><img alt="Wimdu" class="wimdu" srcset="public/assets/case_studies/maitri.png 2x" src="public/assets/case_studies/maitri.png" /></div>
                <div class="loc pull-right">Pune, India</div>
                <div class="clearfix"></div>
                <div class="description">
                  <p>The Maitri Network, through its member organisations, works to raise awareness about such issues and to empower these women to speak up against injustices committed against them, to claim their rights, seek justice and to
                    campaign for positive and lasting change.</p>
                </div>
                <div class="technologies">
                  <div class="technology-icon-small" style="fill: #0064bc"><svg xmlns="http://www.w3.org/2000/svg" width="1000" height="779" viewBox="0 0 1000 779">
                      <defs>
                        <style>
                          .cls-1 {
                                                  stroke: #000;
                                                  stroke-width: 1px;
                                                  fill-rule: evenodd;
                                                }
                                              </style>
                      </defs>
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M1049,408L551,941h-1L51,415,223,163H885.825L1050,407ZM554,835L736,421H371Zm-45,4L320,421H112ZM128,374H300L231,220ZM270,189l77,175L515,189H270ZM394,374l326-1L558,203ZM600,189L763,359l75-171Zm278,28L808,374H982ZM787,421L599,838,982,421H787Z"
                        transform="translate(-50.5 -162.5)" />
                    </svg>
                  </div>
                  <div class="technology-icon-small" style="fill: #0064bc"><svg id="logo_-_rails_kopia" data-name="logo - rails kopia" xmlns="http://www.w3.org/2000/svg" width="1000" height="725" viewBox="50 187.5 1000 725">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="tory" class="cls-1" d="M170.078,897s14.174-230.86,240.945-457.631c0,0,144.977-141.732,325.977-141.732S1007.53,374.289,1014,375l-10,9s-238.647-86.363-408.726,97.889c0,0-99.212,115.145-113.385,252.111,0,0-7.826,78.817-6.889,163H170.078Z" />
                      <g id="kwadraciki_-_lewa_strona" data-name="kwadraciki - lewa strona">
                        <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M99.212,617l85.04,35-42.52,113.353L50,730Z" />
                        <path id="Kształt_2" data-name="Kształt 2" class="cls-1" d="M275,510.235L340.157,435,289,382.676l-76.4,70.866Z" />
                        <path id="Kształt_3" data-name="Kształt 3" class="cls-1" d="M416,279l37.542,61.157L538.582,289l-42.52-62.229Z" />
                        <path id="Kształt_4" data-name="Kształt 4" class="cls-1" d="M628,198.425L644,250H746l-18-59Z" />
                        <path id="Kształt_5" data-name="Kształt 5" class="cls-1" d="M878.738,212.6L871,269.291l98,42.519L977.951,250Z" />
                      </g>
                      <g id="kwadraciki_-_prawa_strona" data-name="kwadraciki - prawa strona">
                        <path id="Kształt_6" data-name="Kształt 6" class="cls-1" d="M524.408,785L529,883l94.621,24.085L615,815Z" />
                        <path id="Kształt_7" data-name="Kształt 7" class="cls-1" d="M530,715l69,28,18-91.033L562,602Z" />
                        <path id="Kształt_8" data-name="Kształt 8" class="cls-1" d="M595.274,547L647,595.274,703,531l-36.86-57Z" />
                        <path id="Kształt_9" data-name="Kształt 9" class="cls-1" d="M715,444l27,55,81-31.284L807.872,407Z" />
                        <path id="Kształt_10" data-name="Kształt 10" class="cls-1" d="M878.738,404L885,463l82,11,10.951-56Z" />
                      </g>
                      <path id="Kształt_11" data-name="Kształt 11" class="cls-1" d="M921.258,790L1048.82,913H918l-95-83v83H737V558H918c110.13,0,107,117,107,117C1029.53,811.418,921.258,790,921.258,790ZM892.912,652H823v82h69.912S918,726.989,918,694.487,900.064,652,892.912,652ZM-623.621,453.542" />
                    </svg>
                  </div>
                  <div class="technology-icon-small" style="fill: #0064bc"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 20.46348">
                      <title>logo</title>
                      <path d="M18.9107,6.63257h0q-.36721-.126-.74042-.2333.06187-.25141.11441-.505c.56045-2.72064.194-4.91237-1.05739-5.63386-1.1998-.692-3.1621.02952-5.14394,1.75414q-.29293.2555-.57267.52554-.18727-.17951-.3811-.352C9.05257.3439,6.97066-.43316,5.72058.29046,4.52191.98436,4.16686,3.04489,4.67144,5.62322q.0753.383.17.76179c-.29458.08367-.57908.17284-.85127.26771C1.55514,7.50165,0,8.83225,0,10.21231c0,1.42546,1.66935,2.8552,4.20575,3.722q.3085.10494.62193.19442-.10179.408-.18068.82114c-.48106,2.53354-.10535,4.54521,1.09017,5.23484,1.23481.712,3.30725-.01985,5.32533-1.78387q.23926-.20917.47994-.44238.3029.29225.62173.56727c1.95477,1.68207,3.88531,2.36132,5.07982,1.66986,1.23369-.71416,1.63454-2.87525,1.114-5.50459q-.05955-.30124-.13792-.61481.21834-.06443.42772-.13355C21.28454,13.06915,23,11.65681,23,10.21232,23,8.82726,21.39478,7.48771,18.9107,6.63257ZM12.7284,2.75581C14.42646,1.278,16.01346.69457,16.73657,1.1116h0c.77014.44421,1.06971,2.2354.5858,4.58441q-.04758.22953-.10342.45724a23.53752,23.53752,0,0,0-3.07527-.48584A23.08128,23.08128,0,0,0,12.1995,3.24094Q12.45788,2.99184,12.7284,2.75581ZM6.79111,11.39124q.312.60265.65207,1.19013.34692.59911.7221,1.18117a20.92168,20.92168,0,0,1-2.11967-.3408C6.24867,12.766,6.49887,12.08443,6.79111,11.39124ZM6.79,9.08041c-.28613-.67863-.53093-1.34586-.73085-1.99019.65624-.14688,1.356-.26689,2.08516-.358q-.36611.571-.7051,1.15877Q7.10076,8.478,6.79,9.08041Zm.52228,1.15552q.45411-.94517.9783-1.8542v.0002q.52369-.90857,1.11521-1.77542c.684-.05171,1.38536-.07879,2.09432-.07879.71212,0,1.41437.02728,2.09819.0794q.58514.86487,1.10818,1.76941.52565.90635.99153,1.84545-.46083.94817-.98828,1.86173h-.0001q-.52261.90786-1.1034,1.7803c-.6824.04876-1.3876.0739-2.10623.0739-.71568,0-1.41193-.02229-2.08241-.06575q-.59555-.86995-1.12406-1.78305Q7.76789,11.18148,7.31227,10.23593Zm8.24853,2.33862q.347-.60182.667-1.21863h0a20.86671,20.86671,0,0,1,.77238,2.02327,20.85164,20.85164,0,0,1-2.14552.36573Q15.21935,13.16682,15.5608,12.57455Zm.65767-3.49343q-.31883-.605-.66163-1.19684h0q-.33727-.58258-.6994-1.15022c.7339.09263,1.437.21579,2.09717.36654A20.95909,20.95909,0,0,1,16.21847,9.08112ZM11.511,3.94359a21.01288,21.01288,0,0,1,1.3535,1.63393q-1.35843-.06419-2.7184-.00061C10.593,4.98765,11.0507,4.44022,11.511,3.94359ZM6.21284,1.14081c.76953-.44543,2.47095.18973,4.26428,1.782.11461.10179.22974.20836.34507.3186A23.54542,23.54542,0,0,0,8.86294,5.66608a24.008,24.008,0,0,0-3.06916.477q-.088-.35228-.15808-.70866v.0001C5.20339,3.22536,5.49044,1.559,6.21284,1.14081ZM5.09132,13.18233q-.286-.08187-.56778-.17773A8.32371,8.32371,0,0,1,1.841,11.57955a2.03072,2.03072,0,0,1-.85849-1.36724c0-.83742,1.24865-1.90571,3.33117-2.63178q.39208-.1361.79162-.24908a23.56455,23.56455,0,0,0,1.121,2.90478A23.92247,23.92247,0,0,0,5.09132,13.18233ZM10.41594,17.661a8.32161,8.32161,0,0,1-2.57467,1.61184h-.0001a2.03042,2.03042,0,0,1-1.61306.06067c-.72556-.41836-1.02706-2.03376-.61573-4.20035q.07337-.38407.168-.76363a23.10444,23.10444,0,0,0,3.0995.44869,23.90954,23.90954,0,0,0,1.97431,2.43929Q10.64,17.46459,10.41594,17.661Zm1.12223-1.11053c-.46569-.50253-.93015-1.05831-1.38383-1.65612q.66051.026,1.34566.02606.70326,0,1.38841-.03084A20.89425,20.89425,0,0,1,11.53817,16.55045Zm5.96651,1.367a2.03039,2.03039,0,0,1-.753,1.4278c-.72485.41958-2.275-.12581-3.94659-1.56431q-.2875-.24735-.57837-.52727a23.08914,23.08914,0,0,0,1.9279-2.448,22.93647,22.93647,0,0,0,3.11507-.48014q.07024.284.12449.55638h0A8.32,8.32,0,0,1,17.50468,17.91749Zm.83417-4.90739h-.0001c-.12571.04163-.25478.08184-.38629.12082a23.06121,23.06121,0,0,0-1.16468-2.91373,23.05112,23.05112,0,0,0,1.11938-2.87128c.23524.0682.46365.14.68372.21579,2.12842.73258,3.42665,1.81593,3.42665,2.65061C22.01753,11.10145,20.61538,12.25574,18.33885,13.0101Z" />
                      <path d="M11.5,8.1585a2.05386,2.05386,0,1,1-2.05381,2.05381A2.05381,2.05381,0,0,1,11.5,8.1585" />
                    </svg></div>
                  <div class="technology-icon-small" style="fill: #0064bc"><svg xmlns="http://www.w3.org/2000/svg" width="901" height="999.81" viewBox="0 0 901 999.81">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M910,942L550,1048.82,190,942,100,50h900ZM517,248H425V698L255,651.967V760l262,70V248Zm71,0V628l173-25v73L588,718V830l248.219-61L854,478,680.314,501V354.33H867L878.738,248H588Z"
                        transform="translate(-99.5 -49.5)" />
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="case-study-item"><a href="portfolio/4screens.html">
              <div class="img-container"><img alt="4screens" srcset="public/assets/case_studies/finixweb.png 2x" src="public/assets/case_studies/finixweb.png" /></div>
              <div class="description-box">
                <div class="logo pull-left"><img alt="4screens" class="4screens" srcset="public/assets/case_studies/finixlogo.png 2x" src="public/assets/case_studies/finixlogo.png" /></div>
                <div class="loc pull-right">Maharashtra, India</div>
                <div class="clearfix"></div>
                <div class="description">
                  <p>Finix Academy is a specialist in counseling doctors for admission for MD (doctor of medicine)in US, Germany, Russia and Philippines. Finix Educational Academy is sensitive towards the financial burden one has to undertaken to
                    pursue education abroad.</p>
                </div>
                <div class="technologies">
                  <div class="technology-icon-small" style="fill: #FF8601">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Svg Vector Icons : http://www.onlinewebfonts.com/icon -->
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                      <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                      <g>
                        <g id="_x35_151e0c8492e5103c096af88a51f17e3">
                          <path d="M934.5,292.6v414.5c0,26.9-14.5,51.9-37.7,65.5L537.7,979.9c-11.5,6.7-24.5,10.1-37.8,10.1c-13.1,0-26.2-3.4-37.7-10.1L342.3,909c-17.9-10-9.2-13.5-3.2-15.6c23.9-8.3,28.7-10.2,54.2-24.7c2.7-1.5,6.2-0.9,8.9,0.7l92.1,54.7c3.3,1.9,8.1,1.9,11.1,0l359.1-207.3c3.3-1.9,5.5-5.7,5.5-9.7V292.6c0-4.1-2.1-7.9-5.6-9.9l-359-207.1c-3.3-1.9-7.7-1.9-11.1,0L135.5,282.8c-3.5,2-5.7,5.9-5.7,9.8v414.5c0,4,2.2,7.7,5.7,9.6l98.4,56.9c53.4,26.7,86.1-4.8,86.1-36.4V328c0-5.8,4.6-10.3,10.4-10.3h45.5c5.7,0,10.4,4.6,10.4,10.3v409.2c0,71.2-38.8,112.1-106.3,112.1c-20.7,0-37.1,0-82.7-22.5l-94.2-54.3c-23.3-13.4-37.7-38.6-37.7-65.5V292.6c0-26.9,14.4-52.1,37.7-65.5L462.2,19.6c22.7-12.9,52.9-12.9,75.5,0l359.1,207.5C920.1,240.6,934.5,265.7,934.5,292.6z M625,667.6c-107.2,0-130.7-26.9-138.6-80.2c-0.9-5.7-5.8-9.9-11.6-9.9h-52.4c-6.5,0-11.7,5.2-11.7,11.7c0,68.2,37.1,149.5,214.3,149.5c128.3,0,201.9-50.5,201.9-138.7c0-87.5-59.1-110.8-183.6-127.2C517.6,456,504.8,447.4,504.8,418c0-24.3,10.8-56.7,104-56.7c83.2,0,113.9,17.9,126.5,74c1.1,5.3,5.9,9.1,11.4,9.1h52.6c3.3,0,6.4-1.4,8.6-3.7c2.2-2.5,3.4-5.7,3.1-9C802.7,335,738.5,290,608.7,290c-115.5,0-184.3,48.7-184.3,130.4c0,88.6,68.5,113.2,179.3,124.1c132.6,13,142.9,32.4,142.9,58.5C746.6,648.2,710.3,667.6,625,667.6z" />
                        </g>
                      </g>
                    </svg></div>
                  <div class="technology-icon-small" style="fill: #FF8601"><svg xmlns="http://www.w3.org/2000/svg" width="931" height="999.81" viewBox="0 0 931 999.81">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M951,830L550,1048.82,149,830,85,215,550,50l465,165ZM550,154h0L180,287l52,484L550,947,867.5,771h0L920,287ZM654,640H446L395,763H302L550,215h0L798,763H705ZM550,412L480,562H620Z"
                        transform="translate(-84.5 -49.5)" />
                    </svg>
                  </div>
                  <div class="technology-icon-small" style="fill: #FF8601"><svg xmlns="http://www.w3.org/2000/svg" width="901" height="999.81" viewBox="0 0 901 999.81">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M910,942L550,1048.82,190,942,100,50h900ZM517,248H425V698L255,651.967V760l262,70V248Zm71,0V628l173-25v73L588,718V830l248.219-61L854,478,680.314,501V354.33H867L878.738,248H588Z"
                        transform="translate(-99.5 -49.5)" />
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="case-study-item"><a href="portfolio/stukent.html">
              <div class="img-container"><img alt="Stuken" srcset="public/assets/krisulaweb.png 2x" src="public/assets/case_studies/krisulaweb.png" /></div>
              <div class="description-box">
                <div class="logo pull-left"><img alt="Stuken" class="stukent" srcset="public/assets/case_studies/krisula.png 2x" src="public/assets/case_studies/krisula.png" /></div>
                <div class="loc pull-right">Pune, India</div>
                <div class="clearfix"></div>
                <div class="description">
                  <p>Krisula Globexim is a trustworthy Exporter, Importer, Dealer, Trader, Wholesaler, Distributor and Supplier of Agricultural Products. They deal with various agro-products like Fresh Fruits, Fresh Vegetables, Rice and Wheat
                    domestically and internationally. </p>
                </div>
                <div class="technologies">
                  <div class="technology-icon-small" style="fill: #00786C"><svg xmlns="http://www.w3.org/2000/svg" width="1000" height="779" viewBox="0 0 1000 779">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M1049,408L551,941h-1L51,415,223,163H885.825L1050,407ZM554,835L736,421H371Zm-45,4L320,421H112ZM128,374H300L231,220ZM270,189l77,175L515,189H270ZM394,374l326-1L558,203ZM600,189L763,359l75-171Zm278,28L808,374H982ZM787,421L599,838,982,421H787Z"
                        transform="translate(-50.5 -162.5)" />
                    </svg>
                  </div>
                  <div class="technology-icon-small" style="fill: #00786C"><svg id="logo_-_rails_kopia" data-name="logo - rails kopia" xmlns="http://www.w3.org/2000/svg" width="1000" height="725" viewBox="50 187.5 1000 725">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="tory" class="cls-1" d="M170.078,897s14.174-230.86,240.945-457.631c0,0,144.977-141.732,325.977-141.732S1007.53,374.289,1014,375l-10,9s-238.647-86.363-408.726,97.889c0,0-99.212,115.145-113.385,252.111,0,0-7.826,78.817-6.889,163H170.078Z" />
                      <g id="kwadraciki_-_lewa_strona" data-name="kwadraciki - lewa strona">
                        <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M99.212,617l85.04,35-42.52,113.353L50,730Z" />
                        <path id="Kształt_2" data-name="Kształt 2" class="cls-1" d="M275,510.235L340.157,435,289,382.676l-76.4,70.866Z" />
                        <path id="Kształt_3" data-name="Kształt 3" class="cls-1" d="M416,279l37.542,61.157L538.582,289l-42.52-62.229Z" />
                        <path id="Kształt_4" data-name="Kształt 4" class="cls-1" d="M628,198.425L644,250H746l-18-59Z" />
                        <path id="Kształt_5" data-name="Kształt 5" class="cls-1" d="M878.738,212.6L871,269.291l98,42.519L977.951,250Z" />
                      </g>
                      <g id="kwadraciki_-_prawa_strona" data-name="kwadraciki - prawa strona">
                        <path id="Kształt_6" data-name="Kształt 6" class="cls-1" d="M524.408,785L529,883l94.621,24.085L615,815Z" />
                        <path id="Kształt_7" data-name="Kształt 7" class="cls-1" d="M530,715l69,28,18-91.033L562,602Z" />
                        <path id="Kształt_8" data-name="Kształt 8" class="cls-1" d="M595.274,547L647,595.274,703,531l-36.86-57Z" />
                        <path id="Kształt_9" data-name="Kształt 9" class="cls-1" d="M715,444l27,55,81-31.284L807.872,407Z" />
                        <path id="Kształt_10" data-name="Kształt 10" class="cls-1" d="M878.738,404L885,463l82,11,10.951-56Z" />
                      </g>
                      <path id="Kształt_11" data-name="Kształt 11" class="cls-1" d="M921.258,790L1048.82,913H918l-95-83v83H737V558H918c110.13,0,107,117,107,117C1029.53,811.418,921.258,790,921.258,790ZM892.912,652H823v82h69.912S918,726.989,918,694.487,900.064,652,892.912,652ZM-623.621,453.542" />
                    </svg>
                  </div>
                  <div class="technology-icon-small" style="fill: #00786C"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 20.46348">
                      <title>logo</title>
                      <path d="M18.9107,6.63257h0q-.36721-.126-.74042-.2333.06187-.25141.11441-.505c.56045-2.72064.194-4.91237-1.05739-5.63386-1.1998-.692-3.1621.02952-5.14394,1.75414q-.29293.2555-.57267.52554-.18727-.17951-.3811-.352C9.05257.3439,6.97066-.43316,5.72058.29046,4.52191.98436,4.16686,3.04489,4.67144,5.62322q.0753.383.17.76179c-.29458.08367-.57908.17284-.85127.26771C1.55514,7.50165,0,8.83225,0,10.21231c0,1.42546,1.66935,2.8552,4.20575,3.722q.3085.10494.62193.19442-.10179.408-.18068.82114c-.48106,2.53354-.10535,4.54521,1.09017,5.23484,1.23481.712,3.30725-.01985,5.32533-1.78387q.23926-.20917.47994-.44238.3029.29225.62173.56727c1.95477,1.68207,3.88531,2.36132,5.07982,1.66986,1.23369-.71416,1.63454-2.87525,1.114-5.50459q-.05955-.30124-.13792-.61481.21834-.06443.42772-.13355C21.28454,13.06915,23,11.65681,23,10.21232,23,8.82726,21.39478,7.48771,18.9107,6.63257ZM12.7284,2.75581C14.42646,1.278,16.01346.69457,16.73657,1.1116h0c.77014.44421,1.06971,2.2354.5858,4.58441q-.04758.22953-.10342.45724a23.53752,23.53752,0,0,0-3.07527-.48584A23.08128,23.08128,0,0,0,12.1995,3.24094Q12.45788,2.99184,12.7284,2.75581ZM6.79111,11.39124q.312.60265.65207,1.19013.34692.59911.7221,1.18117a20.92168,20.92168,0,0,1-2.11967-.3408C6.24867,12.766,6.49887,12.08443,6.79111,11.39124ZM6.79,9.08041c-.28613-.67863-.53093-1.34586-.73085-1.99019.65624-.14688,1.356-.26689,2.08516-.358q-.36611.571-.7051,1.15877Q7.10076,8.478,6.79,9.08041Zm.52228,1.15552q.45411-.94517.9783-1.8542v.0002q.52369-.90857,1.11521-1.77542c.684-.05171,1.38536-.07879,2.09432-.07879.71212,0,1.41437.02728,2.09819.0794q.58514.86487,1.10818,1.76941.52565.90635.99153,1.84545-.46083.94817-.98828,1.86173h-.0001q-.52261.90786-1.1034,1.7803c-.6824.04876-1.3876.0739-2.10623.0739-.71568,0-1.41193-.02229-2.08241-.06575q-.59555-.86995-1.12406-1.78305Q7.76789,11.18148,7.31227,10.23593Zm8.24853,2.33862q.347-.60182.667-1.21863h0a20.86671,20.86671,0,0,1,.77238,2.02327,20.85164,20.85164,0,0,1-2.14552.36573Q15.21935,13.16682,15.5608,12.57455Zm.65767-3.49343q-.31883-.605-.66163-1.19684h0q-.33727-.58258-.6994-1.15022c.7339.09263,1.437.21579,2.09717.36654A20.95909,20.95909,0,0,1,16.21847,9.08112ZM11.511,3.94359a21.01288,21.01288,0,0,1,1.3535,1.63393q-1.35843-.06419-2.7184-.00061C10.593,4.98765,11.0507,4.44022,11.511,3.94359ZM6.21284,1.14081c.76953-.44543,2.47095.18973,4.26428,1.782.11461.10179.22974.20836.34507.3186A23.54542,23.54542,0,0,0,8.86294,5.66608a24.008,24.008,0,0,0-3.06916.477q-.088-.35228-.15808-.70866v.0001C5.20339,3.22536,5.49044,1.559,6.21284,1.14081ZM5.09132,13.18233q-.286-.08187-.56778-.17773A8.32371,8.32371,0,0,1,1.841,11.57955a2.03072,2.03072,0,0,1-.85849-1.36724c0-.83742,1.24865-1.90571,3.33117-2.63178q.39208-.1361.79162-.24908a23.56455,23.56455,0,0,0,1.121,2.90478A23.92247,23.92247,0,0,0,5.09132,13.18233ZM10.41594,17.661a8.32161,8.32161,0,0,1-2.57467,1.61184h-.0001a2.03042,2.03042,0,0,1-1.61306.06067c-.72556-.41836-1.02706-2.03376-.61573-4.20035q.07337-.38407.168-.76363a23.10444,23.10444,0,0,0,3.0995.44869,23.90954,23.90954,0,0,0,1.97431,2.43929Q10.64,17.46459,10.41594,17.661Zm1.12223-1.11053c-.46569-.50253-.93015-1.05831-1.38383-1.65612q.66051.026,1.34566.02606.70326,0,1.38841-.03084A20.89425,20.89425,0,0,1,11.53817,16.55045Zm5.96651,1.367a2.03039,2.03039,0,0,1-.753,1.4278c-.72485.41958-2.275-.12581-3.94659-1.56431q-.2875-.24735-.57837-.52727a23.08914,23.08914,0,0,0,1.9279-2.448,22.93647,22.93647,0,0,0,3.11507-.48014q.07024.284.12449.55638h0A8.32,8.32,0,0,1,17.50468,17.91749Zm.83417-4.90739h-.0001c-.12571.04163-.25478.08184-.38629.12082a23.06121,23.06121,0,0,0-1.16468-2.91373,23.05112,23.05112,0,0,0,1.11938-2.87128c.23524.0682.46365.14.68372.21579,2.12842.73258,3.42665,1.81593,3.42665,2.65061C22.01753,11.10145,20.61538,12.25574,18.33885,13.0101Z" />
                      <path d="M11.5,8.1585a2.05386,2.05386,0,1,1-2.05381,2.05381A2.05381,2.05381,0,0,1,11.5,8.1585" />
                    </svg></div>
                  <div class="technology-icon-small" style="fill: #00786C"><svg xmlns="http://www.w3.org/2000/svg" width="901" height="999.81" viewBox="0 0 901 999.81">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M910,942L550,1048.82,190,942,100,50h900ZM517,248H425V698L255,651.967V760l262,70V248Zm71,0V628l173-25v73L588,718V830l248.219-61L854,478,680.314,501V354.33H867L878.738,248H588Z"
                        transform="translate(-99.5 -49.5)" />
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="case-study-item"><a href="portfolio/leadstream.html">
              <div class="img-container"><img alt="Leadstream" srcset="public/assets/case_studies/akshaenggweb.png 2x" src="public/assets/case_studies/akshaenggweb.png" /></div>
              <div class="description-box">
                <div class="logo pull-left"><img alt="Leadstream" class="leadstream" srcset="public/assets/case_studies/akshaengg.png 2x" src="public/assets/case_studies/akshaengg.png" /></div>
                <div class="loc pull-right">Maharashtra, India</div>
                <div class="clearfix"></div>
                <div class="description">
                  <p>Aksha E&C provides a fully-integrated and innovative services in the field of structural engineering for analysis, design and detailing. It has an impressive portfolio of major industrial structures ranging from reactor
                    structures, technological structures, workshops, warehouses, sheds, pipe-racks, pump & compressor foundations in India and other parts of the world.</p>
                </div>
                <div class="technologies">
                  <div class="technology-icon-small" style="fill: #01C09E"><svg xmlns="http://www.w3.org/2000/svg" width="1000" height="779" viewBox="0 0 1000 779">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M1049,408L551,941h-1L51,415,223,163H885.825L1050,407ZM554,835L736,421H371Zm-45,4L320,421H112ZM128,374H300L231,220ZM270,189l77,175L515,189H270ZM394,374l326-1L558,203ZM600,189L763,359l75-171Zm278,28L808,374H982ZM787,421L599,838,982,421H787Z"
                        transform="translate(-50.5 -162.5)" />
                    </svg>
                  </div>
                  <div class="technology-icon-small" style="fill: #01C09E"><svg id="logo_-_rails_kopia" data-name="logo - rails kopia" xmlns="http://www.w3.org/2000/svg" width="1000" height="725" viewBox="50 187.5 1000 725">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="tory" class="cls-1" d="M170.078,897s14.174-230.86,240.945-457.631c0,0,144.977-141.732,325.977-141.732S1007.53,374.289,1014,375l-10,9s-238.647-86.363-408.726,97.889c0,0-99.212,115.145-113.385,252.111,0,0-7.826,78.817-6.889,163H170.078Z" />
                      <g id="kwadraciki_-_lewa_strona" data-name="kwadraciki - lewa strona">
                        <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M99.212,617l85.04,35-42.52,113.353L50,730Z" />
                        <path id="Kształt_2" data-name="Kształt 2" class="cls-1" d="M275,510.235L340.157,435,289,382.676l-76.4,70.866Z" />
                        <path id="Kształt_3" data-name="Kształt 3" class="cls-1" d="M416,279l37.542,61.157L538.582,289l-42.52-62.229Z" />
                        <path id="Kształt_4" data-name="Kształt 4" class="cls-1" d="M628,198.425L644,250H746l-18-59Z" />
                        <path id="Kształt_5" data-name="Kształt 5" class="cls-1" d="M878.738,212.6L871,269.291l98,42.519L977.951,250Z" />
                      </g>
                      <g id="kwadraciki_-_prawa_strona" data-name="kwadraciki - prawa strona">
                        <path id="Kształt_6" data-name="Kształt 6" class="cls-1" d="M524.408,785L529,883l94.621,24.085L615,815Z" />
                        <path id="Kształt_7" data-name="Kształt 7" class="cls-1" d="M530,715l69,28,18-91.033L562,602Z" />
                        <path id="Kształt_8" data-name="Kształt 8" class="cls-1" d="M595.274,547L647,595.274,703,531l-36.86-57Z" />
                        <path id="Kształt_9" data-name="Kształt 9" class="cls-1" d="M715,444l27,55,81-31.284L807.872,407Z" />
                        <path id="Kształt_10" data-name="Kształt 10" class="cls-1" d="M878.738,404L885,463l82,11,10.951-56Z" />
                      </g>
                      <path id="Kształt_11" data-name="Kształt 11" class="cls-1" d="M921.258,790L1048.82,913H918l-95-83v83H737V558H918c110.13,0,107,117,107,117C1029.53,811.418,921.258,790,921.258,790ZM892.912,652H823v82h69.912S918,726.989,918,694.487,900.064,652,892.912,652ZM-623.621,453.542" />
                    </svg>
                  </div>
                  <div class="technology-icon-small" style="fill: #01C09E"><svg xmlns="http://www.w3.org/2000/svg" width="923.378" height="1001" viewBox="0 0 923.378 1001">
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M940.7,830.3L550,1050,159.3,830.3,88.8,222,550,50l461.2,172ZM550,170.078L258,815H369l59.911-142H671.089L731,815H842ZM470.259,575L550,386l79.741,189H470.259Z" transform="translate(-88.313 -49.5)" />
                    </svg>
                  </div>
                  <div class="technology-icon-small" style="fill: #01C09E"><svg xmlns="http://www.w3.org/2000/svg" width="901" height="999.81" viewBox="0 0 901 999.81">
                      <defs>
                        <style>
                          .cls-1 {
                                                    stroke: #000;
                                                    stroke-width: 1px;
                                                    fill-rule: evenodd;
                                                  }
                                                </style>
                      </defs>
                      <path id="Kształt_1" data-name="Kształt 1" class="cls-1" d="M910,942L550,1048.82,190,942,100,50h900ZM517,248H425V698L255,651.967V760l262,70V248Zm71,0V628l173-25v73L588,718V830l248.219-61L854,478,680.314,501V354.33H867L878.738,248H588Z"
                        transform="translate(-99.5 -49.5)" />
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="testimonials-section">
      <div class="container">
        <div class="text-align-center">
          <h2 class="h3-like">They relied on us and it paid off</h2>
          <p>Remote collaboration requires mutual trust.<br />Our success is our clients’ satisfaction.</p>
        </div>
        <div class="owl-carousel owl-theme testimonials-carousel with-shadow-dots above-stripe">
          <div class="item">
            <div class="head-wrap">
              <div class="row">
                <div class="col-sm-2 text-center">
                  <div class="img"><img alt="Krisula Testimonial" src="public/assets/case_studies/krisulatesti.png" /></div>
                </div>
                <div class="col-sm-10">
                  <div class="person">
                    <div class="name">Sulbha Bh.</div>
                    <div class="position">Krisula Globeexim Pvt Ltd</div>
                  </div>
                </div>
              </div>
            </div>
            <p class="testimonial">We have worked with Kvictor on multiple projects and have always been pleased with their reactivity and their professionalism. Kvictor's team of professionals are serious and reliable. They have been able to finish
              our projects under tight deadlines, with patience and attention to details.</p>
          </div>
          <div class="item">
            <div class="head-wrap">
              <div class="row">
                <div class="col-sm-2 text-center">
                  <div class="img"><img alt="wimdu_testimonial" src="public/assets/case_studies/finixtesti.png" /></div>
                </div>
                <div class="col-sm-10">
                  <div class="person">
                    <div class="name">Dr. G. Gherade</div>
                    <div class="position">Finix Academy</div>
                  </div>
                </div>
              </div>
            </div>
            <p class="testimonial">Kvictor was willing to work with us remotely and help make the necessary edits we needed for this project. Kvictor integrated instantly into our development team. They helped us rebuild a core part of our platform
              with clean, stable code, improving the app performance.</p>
          </div>
          <div class="item">
            <div class="head-wrap">
              <div class="row">
                <div class="col-sm-2 text-center">
                  <div class="img"><img alt="Washhouse_testimonial" src="public/assets/case_studies/washtesti.png" /></div>
                </div>
                <div class="col-sm-10">
                  <div class="person">
                    <div class="name">Piyush Bodhe</div>
                    <div class="position">The Wash House</div>
                  </div>
                </div>
              </div>
            </div>
            <p class="testimonial">A company of competent professionals, who want to grow and care for the customer with great attention, sometimes even beyond what would be due.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="our-team-section">
      <div class="container">
        <div class="text-align-center"><span>ABOUT US</span>
          <h2>Who we are</h2>
          <p>Kvictor are a bunch of young and motivated technology enthusiasts.<br />We’re passionate about delivering top quality software and we have fun doing it!</p>
        </div>
        <div class="meet-the-team text-align-center"><a class="common" href="about-us.html">Know more about us</a></div>
      </div>
      <br />
      <br />
      <br />
    </div>
    <div class="contact-section">
      <div class="container">
        <div class="text-align-center"><span>LET'S BUILD SOMETHING AWESOME TOGETHER!</span>
          <h2>Get in touch with us</h2>
          <p>How about we start from a free quote and some business and tech consulting<br />to make sure your idea meets the latest tech trends?</p>
          <form class="contact-form above-stripe" method="post" action="send">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div>
                    <h6 class="success-message">{{msg}}</h6>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>Your name</label>
                    <input class="form-control"
                     id="name" name="name" required="" type="text" />
                    <div class="error-message" data-input="name"></div>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" id="email" name="email" required="" type="email" />
                    <div class="error-message" data-input="email"></div>
                  </div>
                  <div class="form-group hidden">
                    <input value="client" type="hidden" name="category" />
                  </div>
                  <div class="form-group">
                    <label>Phone number (optional)</label>
                    <input class="form-control" id="phone" name="phone" type="text" />
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>Project description</label>
                    <div class="textarea-box">
                      <textarea class="form-control" id="message" name="message" placeholder="Your message..."></textarea>
                      <div class="error-message" data-input="file"></div>
                      <div class="attachment">
                        <label data-label="Add specification" for="file"><i class="fa fa-paperclip"></i>Add specification</label>
                        <input class="form-control" id="file" name="file" type="file" />
                        <a class="hidden" id="clear-btn">&#x2715;</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="get-free-evaluation text-align-center"><button class="common" type="submit">Get a free quote</button></div>
                </div>
              </div>
            </div>
          </form>
          <div class="masters-modal modal" id="contact-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body"><span>SUCCESS</span>
                  <h2 id="modal-title">Thanks for submitting the form!</h2>
                  <p id="modal-description">Left the rest to us.<br />Keep calm and we will contact you shortly.</p><button class="common" data-dismiss="modal" type="button">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stripes-bottom">
    <div class="desktop visible-lg">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-3 col logo-col"><a class="active" aria-current="page" href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo-white@2x-4032c6002c03f81dbb6d165b29159bb501465affe3108e090fc43100bd258eec.png 2x"
            src="public/assets/common/logo-white-7ffb77ff385f90229ac8168274bd3317d4b3f0db32309d659173230bda59c838.png" /></a></div>
      <div class="col-xs-12 col-sm-6 col-md-2 col menu-col"><span>COMPANY</span>
        <div class="content">
          <p><a href="services.html">Services</a></p>
          <p><a href="portfolio.html">Portfolio</a></p>
          <p><a href="about-us.html">About us</a></p>
          <p><a href="career.html">Careers</a></p>
          <p><a href="contact.html">Contact Us</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col info-col"><span>INFO AND CONTACT</span>
        <div class="content">
          <p>Kvictor Pvt Ltd <br />Flat no G-03, Bramhaputra Apts,<br />Aakar Nagar, M B Estate <br />Nagpur, India 440013.</p>
          <p> Phone : +91 - 7620776511 </p>
          <br />
          <a href="mailto:michal@Kvictor.com" target="_blank">info@kvictor.com<i class="fa fa-envelope"></i></a><br /><a href="skype:nikhiltj.007?call">Skype call<i class="fab fa-skype"></i></a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col follow-col"><span>FOLLOW US</span>
        <div class="d-block media"><a href="https://www.facebook.com/Kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.linkedin.com/company/kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-linkedin-in"></i></a><a
            href="https://www.instagram.com/Kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/kvictor.com" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://github.com/Kvictor"
            rel="nofollow" target="_blank"><i class="fab fa-github"></i></a></div>
      </div>
      <div class="copyright col-xs-12">Copyright © 2019 Kvictor. All rights reserved.</div>
    </div>
  </footer>
</body>

</html>
