<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title>Services | Kvictor</title>
  <link rel="apple-touch-icon" sizes="57x57" href="public/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="public/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="public/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="public/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="public/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="public/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="public/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="public/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="public/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="public/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="public/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="public/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="public/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="public/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="public/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all" href="public/assets/application.css  " data-turbolinks-track="reload" />
  <link rel="stylesheet" href="public/assets/mystyles.css">
  <script src="public/assets/application.js  " data-turbolinks-track="reload"></script>
</head>

<body>
  <nav class="mobile-nav visible-xs-block">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="logo"><a href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
        <div class="collapsed" data-target="#collapse-mobile-nav" data-toggle="collapse" id="nav-icon"><span></span><span></span><span></span></div>
      </div>
      <div class="collapse" id="collapse-mobile-nav">
        <ul class="navbar-nav mr-auto">
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/about-us">About us</a></li>
          <li><a href="/careers">Careers</a></li>
        </ul>
        <div class="text-align-center"><button class="contact" onclick="window.location.href=&#39;/contact&#39;">Contact us</button></div>
      </div>
    </div>
  </nav>
  <div class="stripes-top">
    <div class="desktop visible-lg">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
    <div class="mobile visible-xs-block">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
  </div>
  <div id="services">
    <div class="head-section">
      <div class="overlay">
        <div class="container above-stripe">
          <div class="desktop-nav hidden-xs">
            <div class="logo"><a href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
            <div class="nav">
    <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/careers">Careers</a></li>
    </ul>
</div>
<div class="contact"><a class="contact" href="/contact">Contact us</a></div>
          </div>
          <h1 class="span-like">SERVICES</h1>
          <h2>How we can help you</h2>
          <p>We develop beautiful web apps and hybrid mobile apps that meet the latest tech trends. Whether it's an idea to be built from scratch or existing software that needs maintenance or improvement, we identify every client's individual needs
            and construct a tailor-made solution.</p>
        </div>
      </div>
    </div>
    <div class="services-section">
      <div aria-multiselectable="true" class="container panel-group" id="accordion" role="tablist">
        <p class="highlight">Our multidimensional approach and thinking outside the box let us built forward-thinking apps that stay in the game on the competitive online business market. A dedicated dev team, lead by a Project Manager, adjust to
          our clients' processes and smoothly blend into their team. Your goals are our objectives.</p>
        <div class="tiles-menu">
          <div class="tiles row">
            <div class="col-md-4 col-xs-12 col-sm-6 text-align-center"><button aria-controls="collapseOne" aria-expanded="true" class="tile-link" data-parent="#accordion" data-target="#creation" data-toggle="collapse" role="button">
                <div class="tile">
                  <!-- <div class="tile-ico pencil-ruler"></div> -->
                  <img src="public/assets/icons/outsource.png">
                  <div class="tile-title">
                    <h3 class="no-margin">Outsourcing</h3>
                  </div>
                  <p class="tile-desc">Expand your team by our top-notch developers</p>
                </div>
              </button></div>
            <div class="col-md-4 col-xs-12 col-sm-6 text-align-center"><button aria-controls="collapseTwo" aria-expanded="false" class="tile-link collapsed" data-parent="#accordion" data-toggle="collapse" href="#improvement" role="button">
                <div class="tile">
                  <!-- <div class="tile-ico equalizer"></div> -->
                  <img src="public/assets/icons/building.png">
                  <div class="tile-title">
                    <h3 class="no-margin">Building Apps</h3>
                  </div>
                  <p class="tile-desc"> We develop web and hybrid mobile apps from scratch</p>
                </div>
              </button></div>
            <div class="col-md-4 col-xs-12 col-sm-6 text-align-center"><button aria-controls="outsourcing" aria-expanded="false" class="tile-link collapsed" data-parent="#accordion" data-target="#outsourcing" data-toggle="collapse" type="button">
                <div class="tile">
                  <!-- <div class="tile-ico wrench"></div> -->
                  <img src="public/assets/icons/improve.png">
                  <div class="tile-title">
                    <h3 class="no-margin">Improving</h3>
                  </div>
                  <p class="tile-desc">Let us upgrade your existing app to the latest tech standards</p>
                </div>
              </button></div>
          </div>
        </div>
        <br />
        <br />
        <div class="panel">
          <div class="section-name with-line-beneath collapse panel-collapse in" id="creation" role="tabpanel">
            <h2 class="h3-like">Expand your dev team by our top-notch developers.</h2>
            <div class="service">
              <p>Need more development capacity immediately? We understand you perfectly! Partnering up with an external agency is often the most beneficial and effective way to keep up with maintaining and expanding your app. It saves a lot of time
                that you’d have to spend on recruiting and gives you access to a larger talent pool. Let’s have a trial period and see for yourself how easily our developers integrate into your company. No strings attached! If you don’t have fun
                working with us, you can resign on the spot.</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="section-name with-line-beneath collapse panel-collapse" id="improvement" role="tabpanel">
            <h2 class="h3-like">We develop web apps and hybrid mobile apps from scratch.</h2>
            <div class="service">
              <p>If you have a cracking idea for an app and need a dev team to make it come to life, you've come to the right place! We always start with a free business and tech consulting to make sure your concept is as innovative as it gets and
                has a great chance to succeed. If you don’t have any techies in your team, it’s no problem. We are happy to help you write out a specification of the system, estimate the cost and decide what features to start from to be able to
                release your product on the market as soon as possible and let it start making money.</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="section-name with-line-beneath panel-collapse collapse" id="outsourcing" role="tabpanel">
            <h2 class="h3-like">Let us upgrade your existing app to the latest tech standards.</h2>
            <div class="service">
              <p>At the moment user expectations and software environments are changing at a faster pace than ever. To stay in the game you need to keep up. Modernization and optimization is every online business’s bread and butter. We are happy to
                take over your project after another dev team, take a fresh look at it and propose what to do to make it even better. We can also take care of upgrading your app to the newest version of the language it is written in, while your core
                dev team is too busy developing new functionalities of your product.</p>
            </div>
          </div>
        </div>
        <div class="technologies-section" id="technologies">
          <div class="container">
            <div class="section-name technologies">
              <h2 class="h3-like">We master the art of</h2>
            </div>
            <div class="owl-carousel owl-theme technologies-carousel">

              <div class="item">
                <div class="img"><img height="65" width="65" class="tm-icon icon-angularjs" alt="angularjs" srcset="public/assets/technologies/angularjs@2x-4d8097754007462ccdb1ac844cd7afdd6ba13fddefcfd910766639460ff65d5f.png 2x" src="public/assets/technologies/angularjs-a1975f6d607f1bf6bed332d70de129a555d248d8383b511ddc81d2c8fc5151ec.png" /></div>
                <div class="technology-name">AngularJS</div>
              </div>
              <div class="item">
                <div class="img"><img height="65" width="65" class="tm-icon icon-angular" alt="angular" srcset="public/assets/technologies/angular@2x-2473e0ed86bb4090f8ad8523b03a82cfef76b3488e8232cd601f5f382158fd2a.png 2x" src="public/assets/technologies/angular-f024abd424ea7a7f595d21969535a45c3479b3c5d26a871a7b9716602f196fd2.png" /></div>
                <div class="technology-name">Angular</div>
              </div>
              <div class="item">
                <div class="img"><img height="65" width="65" class="tm-icon icon-html" alt="html" srcset="public/assets/technologies/html@2x-4a5140c5d0ff436a4676f63aba905f86631cbc93880bc702111bc7b0c82e868f.png 2x" src="public/assets/technologies/html-f77ae20f44aa0d8b757051ac7644e18ffacbd49363fa0293b751fc91d141cbdd.png" /></div>
                <div class="technology-name">HTML</div>
              </div>
              <div class="item">
                <div class="img"><img height="65" width="65" class="tm-icon icon-javascript" alt="javascript" srcset="public/assets/technologies/javascript@2x-b37d397c94440932960a6e1bf821145acbb42305b9b4e655bb21d1e8bf8fae2b.png 2x" src="public/assets/technologies/javascript-1c8fc20438369c51e591a0f40184d81c19a856285384bdc7543894cfbad29a90.png" /></div>
                <div class="technology-name">JavaScript</div>
              </div>
              <div class="item">
                <div class="img"><img height="65" width="65" class="tm-icon icon-python" alt="python" srcset="public/assets/technologies/python@2x-ff333febcc0a40409578a6f0d1645e1bbed1f29326457f3d78773d7349c28afb.png 2x" src="public/assets/technologies/python-e2b859580533eb03210193c9c344e304d5afc5cc8e77e407057e6a796f3b4b5e.png" /></div>
                <div class="technology-name">Python</div>
              </div>
              <div class="item">
                <div class="img"><img height="65" width="65" class="tm-icon icon-ionic" alt="ionic" srcset="public/assets/technologies/ionic@2x-413049e8f51373dcef2c8fe200a47d39d16f605291f736f2fc35c77e1b477db8.png 2x" src="public/assets/technologies/ionic-19eba8a218c7712bcbd73893c32633edca7cce090e47a2c7a5961f72c2c21835.png" /></div>
                <div class="technology-name">Ionic</div>
              </div>
              <div class="item">
                <div class="img"><img height="65" width="65" class="tm-icon icon-node" alt="node" srcset="public/assets/technologies/node@2x-43ca633bbd03cc7e8d03a0f2a175b540739e27025a93dacac7ee44f7ebdf2a7e.png 2x" src="public/assets/technologies/node-7abbb716634ccab9f773167a13242ca25441fdf18dbec9198deb923902013a78.png" /></div>
                <div class="technology-name">Node.JS</div>
              </div>
              <div class="item">
                <div class="img"><img height="65" width="65" class="tm-icon icon-react" alt="react" srcset="public/assets/technologies/react@2x-522f36d8a79c38fc02d2b2e14fcb5d8be717b8c1f9ba785ece536c8eb274beb7.png 2x" src="public/assets/technologies/react-5fa63e09a8e4c8f4f7cae3c1f714982861f27ba6357b9d7bed1389c052e86977.png" /></div>
                <div class="technology-name">React</div>
              </div>
            </div>
            <div class="learn-more"><a class="common" href="services.html">Let’s talk about your project</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="results-section">
      <div class="container">
        <div class="text-align-center">
          <div><span>PROCESS</span>
            <h2>That’s how we roll</h2>
            <p>We are agile and have an iterative approach to building software. We divide all the work into sprints allowing us to keep making sure we’re heading the right direction every step of the way. We believe transparency is the only way to
              collaborate. Our clients get unlimited access to all our communication and project management tools to always have insight into what’s going on.</p>
          </div>
          <div class="steps">
            <div class="step active" id="step1">
              <div class="circle"></div>
            </div>
            <div class="step active" id="step2">
              <div class="arrow"></div>
              <div class="circle"></div>
            </div>
            <div class="step" id="step3">
              <div class="arrow-back"></div>
              <div class="arrow-bottom"></div>
              <div class="circle"></div>
            </div>
            <div class="step" id="step4">
              <div class="arrow"></div>
              <div class="circle"></div>
            </div>
            <div class="step" id="step5">
              <div class="arrow-back"></div>
              <div class="arrow-bottom"></div>
              <div class="circle"></div>
            </div>
            <div class="step" id="step6">
              <div class="arrow"></div>
              <div class="circle"></div>
            </div>
          </div>
          <div class="step-descriptions">
            <div class="step-desc" id="stepDesc1"><span>I</span>
              <h3>IDEA</h3>
              <p>Tell us what you want and we’ll tell you how to build it. If you have a technical specification of your app, we’ll assess it, advise how to approach it to make it as innovative as it gets and estimate the cost and the duration of
                its development. If you don’t have one, we will be happy to write one up with you and plan out all the work.</p>
            </div>
            <div class="step-desc active" id="stepDesc2"><span>II</span>
              <h3>PROJECT MANAGEMENT</h3>
              <p> As soon as we agree to collaborate, we assign a dedicated Project Manager to your company who oversees all the processes and becomes your single point of contact. He’s available to you at all times on Slack, Google Meet, Skype,
                Email and on the phone. You also get access to our Jira to stay up-to-date with what is currently being done and how long it is taking. If you already use other collaboration tools, we are happy to switch to them.</p>
            </div>
            <div class="step-desc" id="stepDesc3"><span>III</span>
              <h3>DEVELOPMENT</h3>
              <p>Whether we become your core dev team or our developers act as an extension to your in-house tech department, we are always proactive, propose the most forward-thinking solutions and put maximum effort into what we do. We have broad
                experience in building projects for various industries and companies worldwide and are well aware of all the latest programming, security and UX standards.</p>
            </div>
            <div class="step-desc" id="stepDesc4"><span>IV</span>
              <h3>TESTING</h3>
              <p>We ensure that our code is bug-free through both automated and manual testing. We believe that thorough quality assurance is crucial not to put your reputation at risk, especially when you're releasing a new product on the market
                and building your users trust.</p>
            </div>
            <div class="step-desc" id="stepDesc5"><span>V</span>
              <h3>IMPROVEMENT</h3>
              <p>Iteration is a crucial matter of our software development methodology. After every sprint, we do code review and evaluate if everything has been done the best way possible and exactly complies with the client’s vision.</p>
            </div>
            <div class="step-desc" id="stepDesc6"><span>VI</span>
              <h3>SUPPORT</h3>
              <p>We realise how crucial your software is for your business, that’s why we provide a 6-month warranty on every line of code written by our developers. During that period, in case of any problems, they will be fixed immediately for
                free.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-small-section">
      <div class="container above-stripe">
        <div class="text-align-center">
          <div class="box"><span></span>
            <h2>Want to talk about your project?</h2><a class="common"
            href="/contact">Get a free quote</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stripes-bottom">
    <div class="desktop visible-lg">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-3 col logo-col"><a class="active" aria-current="page" href="/"><img alt="Kvictor Logo" srcset="public/assets/common/logo-white@2x-4032c6002c03f81dbb6d165b29159bb501465affe3108e090fc43100bd258eec.png 2x"
            src="public/assets/common/logo-white-7ffb77ff385f90229ac8168274bd3317d4b3f0db32309d659173230bda59c838.png" /></a></div>
      <div class="col-xs-12 col-sm-6 col-md-2 col menu-col"><span>COMPANY</span>
        <div class="content">
          <p><a href="services.html">Services</a></p>
          <p><a href="portfolio.html">Portfolio</a></p>
          <p><a href="about-us.html">About us</a></p>
          <p><a href="career.html">Careers</a></p>
          <p><a href="contact.html">Contact Us</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col info-col"><span>INFO AND CONTACT</span>
        <div class="content">
          <p>Kvictor Pvt Ltd <br />Flat no G-03, Bramhaputra Apts,<br />Aakar Nagar, M B Estate <br />Nagpur, India 440013.</p>
          <p> Phone : +91 - 7620776511 </p>
          <br />
          <a href="mailto:michal@Kvictor.com" target="_blank">info@kvictor.com<i class="fa fa-envelope"></i></a><br /><a href="skype:nikhiltj.007?call">Skype call<i class="fab fa-skype"></i></a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col follow-col"><span>FOLLOW US</span>
        <div class="d-block media"><a href="https://www.facebook.com/Kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.linkedin.com/company/kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-linkedin-in"></i></a><a
            href="https://www.instagram.com/Kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/kvictor.com" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://github.com/Kvictor"
            rel="nofollow" target="_blank"><i class="fab fa-github"></i></a></div>
      </div>
      <div class="copyright col-xs-12">Copyright © 2019 Kvictor. All rights reserved.</div>
    </div>
  </footer>
</body>
<!-- Mirrored from themasters.io/services by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Jun 2019 10:18:50 GMT -->

</html>
