<!DOCTYPE html>
<html lang="en">
<head>
    <title>Career | Kvictor</title>
    <meta name="description" content="We are hiring! Join Kvictor and rocket boost your career!" />
    <meta property="og:description" content="We are hiring! Join Kvictor and rocket boost your career!" />
    <meta property="og:title" content="Careers | Kvictor" />
    <meta property="og:image" content="og_image/careers.jpg" />
    <meta property="og:url" content="career.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="google-site-verification" content="dJQbUQU9uwQessAwdEMfKxTik4QuIDJzNWfKNmhMDhw" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="B1bnXHVuR87wu8U0hn7gj5LNJqoQdf/VBVs95xHUkxWVwXRvp2825i9NSGQfedkeU013vU7Kua7zRZiG9ysjtQ==" />
    <link rel="apple-touch-icon" sizes="57x57" href="public/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="public/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="public/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="public/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="public/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="public/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="public/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="public/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="public/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="public/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="public/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="public/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="public/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="the/masters">
    <meta name="application-name" content="the/masters">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="public/assets/favicon/browserconfig-c69d5e938f360ba9d2a538239d3415c30b10760abcf4a9bce986b3484f3d562a.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" media="all" href="public/assets/application.css  " data-turbolinks-track="reload" />
    <script src="public/assets/application.js  " data-turbolinks-track="reload"></script>
</head>
<body>
    <nav class="mobile-nav visible-xs-block">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="logo"><a href="/"><img alt="Kvictor Logo" srcset="/public/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
                <div class="collapsed" data-target="#collapse-mobile-nav" data-toggle="collapse" id="nav-icon"><span></span><span></span><span></span></div>
            </div>
            <div class="collapse" id="collapse-mobile-nav">
                <ul class="navbar-nav mr-auto">
                    <li><a href="services.html">Services</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="about-us.html">About us</a></li>
                    <li><a href="career.html">Careers</a></li>
                </ul>
                <div class="text-align-center"><button class="contact" onclick="window.location.href=&#39;/contact&#39;">Contact us</button></div>
            </div>
        </div>
    </nav>
    <div class="stripes-top">
        <div class="desktop visible-lg">
            <div class="trigger"></div>
            <div class="stripe top"></div>
            <div class="stripe middle"></div>
            <div class="stripe bottom"></div>
        </div>
        <div class="mobile visible-xs-block">
            <div class="trigger"></div>
            <div class="stripe top"></div>
            <div class="stripe middle"></div>
            <div class="stripe bottom"></div>
        </div>
    </div>
    <div id="careers">
        <div class="head-section careers-head-section">
            <div class="overlay">
                <div class="container above-stripe">
                    <div class="desktop-nav hidden-xs">
                        <div class="logo"><a href="/"><img alt="Kvictor Logo" srcset="/public/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
                        <div class="nav">
                            <ul class="list-inline">
                                <li><a href="/">Home</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="career.html">Careers</a></li>
                            </ul>
                        </div>
                        <div class="contact"><a class="contact" href="contact.html">Contact us</a></div>
                    </div>
                    <div class="breadcrumbs-link"><a class="span-like arrow-link" href="/careers"><i class="fa fa-arrow-left"></i>Go back to careers</a></div>
                    <h1 class="h2-like">Frontend Engineer</h1>
                    <p>Come aboard and join our bunch of tech enthusiasts passionate about building top quality software and having fun doing it!</p>
                </div>
            </div>
        </div>
        <div class="job-offer-content-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-xs-12 col-sm-12">
                        <h2>Are you ready to join Kvictor?</h2>
                        <p>We are a mature software development agency that consists of over 20 sharp minds that never stop learning. For the last 5 years, we’ve been collaborating with companies all around the world building forward-thinking apps that improve people’s lives. We are Agile and we like Scrum. We are a real team, we always support, challenge and inspire each other. </p>
                        <h2>A Frontend Engineer at Kvictor is someone who</h2>
                        <ul>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Is excited to work with companies all around the world on projects that have an impact
                                        on the world of technology and innovation.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Appreciates working in multicultural remote teams.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Likes to have an influence on the shape and form of products that she/he is building.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Believes that you can never stop learning to stay ahead of the game.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Is happy to share her/his knowledge and experience and finds it fulfilling to be a mentor.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Loves clean code :) </div>
                                </div>
                            </li>
                        </ul>
                        <h2>We are looking for someone who</h2>
                        <ul>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Has 3+ years of experience in front-end technologies such as : HTML/CSS/ BootStrap/ Angular/React/ IONIC/JS</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">React/ReactJS/ ReactNative/3JS candidates WILL BE PREFERRED. </div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Is familiar with relational databases (PostgreSQL, MySQL).</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Hands-on experience in developing and testing REST API based products</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Ability/willingness to lead a small team of front-end engineers.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Uses GIT.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Speaks English very well (B2+) and likes talking to foreigners.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Full-time availability (120+ h/month).</div>
                                </div>
                            </li>
                        </ul>
                        <h2>It would be nice if you</h2>
                        <ul>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Have experience with JavaScript (especially ReactJS or Angular).</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Know any other backend technology.</div>
                                </div>
                            </li>
                        </ul>
                        <h2>We offer you</h2>
                        <ul>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">An top-notch notebook.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Flexible working hours.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">An annual budget for conferences,
                                        workshops and courses of your choice.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">An office in the city centre with parking spot allowance.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Weekly English classes with a Native Speaker.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Private health care allowance.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Monthly team-building meetings
                                        over a pint of craft beer.</div>
                                </div>
                            </li>
                            <li>
                                <div class="bullet-row">
                                    <div class="bullet">•</div>
                                    <div class="li">Lots of fun :)</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12">
                        <div class="contact-container">
                            <h2>Come on aboard</h2>
                            <p>Fill out this simple form. Our team will contact you promptly to discuss next steps.</p>
                            <form class="contact-form above-stripe" data-parsley-validate="" id="contact-form">
                                <div class="form-group"><label>Your name</label><input class="form-control" data-parsley-error-message="can&#39;t be blank" data-parsley-trigger="change" id="name" name="user_inquiry[name]" required="" type="text" />
                                    <div class="error-message" data-input="name"></div>
                                </div>
                                <div class="form-group"><label>Email</label><input class="form-control" data-parsley-error-message="is not an email" data-parsley-trigger="change" id="email" name="user_inquiry[email]" required="" type="email" />
                                    <div class="error-message" data-input="email"></div>
                                </div>
                                <div class="form-group hidden"><input value="senior_backend" type="hidden" name="user_inquiry[category]" id="user_inquiry_category" /></div>
                                <div class="form-group"><label>Phone number (optional)</label><input class="form-control" id="phone" name="user_inquiry[phone]" type="text" /></div>
                                <div class="form-group"><label>Tell us something about you</label>
                                    <div class="textarea-box"><textarea class="form-control" id="message" name="user_inquiry[message]" placeholder="Your message..."></textarea>
                                        <div class="error-message" data-input="file"></div>
                                        <div class="attachment"><label data-label="Browse" for="file"><i class="fa fa-paperclip"></i>Browse</label><input class="form-control" id="file" name="user_inquiry[file]" type="file" /><a class="hidden" id="clear-btn">&#x2715;</a></div>
                                    </div>
                                </div>
                                <div class="get-free-evaluation text-align-center"><button class="common" type="button">Send</button></div>
                            </form>
                            <div class="masters-modal modal" id="contact-modal" role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body"><span>SUCCESS</span>
                                            <h2 id="modal-title">Thanks for submitting the form!</h2>
                                            <p id="modal-description">Left the rest to us.<br />Keep calm and we will contact you shortly.</p><button class="common" data-dismiss="modal" type="button">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-small-section share-this-offer">
            <div class="container above-stripe">
                <div class="text-align-center">
                    <div class="box">
                        <h2>Let your friends know about this offer</h2>
                        <div class="social">
                            <div class="media">
                                <div class="col">
                                    <a rel="nofollow" target="_blank" class="decoration-none" href="https://www.facebook.com/kvictor.com"><i class="fab fab fa-facebook-f"></i></a>
                                </div>
                                <div class="col">
                                    <a rel="nofollow" target="_blank" class="decoration-none" href="https://www.linkedin.com/kvictor.com"><i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                                <div class="col">
                                    <a rel="nofollow" target="_blank" class="decoration-none" href="https://twitter.com/home?status=kvictor.com"><i class="fab fa-twitter"></i></a>
                                </div>
                                <div class="col">
                                    <a rel="nofollow" target="_blank" class="decoration-none" href="https://plus.google.com/share?url=kvictor.com"><i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="copy">
                            <div class="input-group">
                                <input type="text" name="copy-input" id="copy-input-tag" value="http://kvictor.com/career/mern-stack-developer.html" class="form-control" />
                                <div class="input-group-addon">
                                    <button name="button" type="button" data-clipboard-target="#copy-input-tag" class="copy-button"><i class="far fa-clipboard"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stripes-bottom">
        <div class="desktop visible-lg">
            <div class="trigger"></div>
            <div class="stripe top"></div>
            <div class="stripe middle"></div>
            <div class="stripe bottom"></div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-3 col logo-col"><a class="active" aria-current="page" href="/"><img alt="Kvictor Logo" srcset="/public/assets/common/logo-white@2x-4032c6002c03f81dbb6d165b29159bb501465affe3108e090fc43100bd258eec.png 2x" src="public/assets/common/logo-white-7ffb77ff385f90229ac8168274bd3317d4b3f0db32309d659173230bda59c838.png" /></a></div>
            <div class="col-xs-12 col-sm-6 col-md-2 col menu-col"><span>COMPANY</span>
                <div class="content">
                    <p><a href="services.html">Services</a></p>
                    <p><a href="portfolio.html">Portfolio</a></p>
                    <p><a href="about-us.html">About us</a></p>
                    <p><a href="career.html">Careers</a></p>
                    <p><a href="contact.html">Contact Us</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col info-col"><span>INFO AND CONTACT</span>
                <div class="content">
                     <p>Kvictor Pvt Ltd <br />Flat no G-03, Bramhaputra Apts,<br />Aakar Nagar, M B Estate <br />Nagpur, India 440013.</p>
                    <p> Phone : +91 - 7620776511 </p>
                    <br />
                    <a href="mailto:michal@Kvictor.com" target="_blank">info@kvictor.com<i class="fa fa-envelope"></i></a><br /><a href="skype:nikhiltj.007?call">Skype call<i class="fab fa-skype"></i></a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col follow-col"><span>FOLLOW US</span>
                <div class="d-block media"><a href="https://www.facebook.com/Kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.linkedin.com/company/kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-linkedin-in"></i></a><a href="https://www.instagram.com/Kvictor.com/" rel="nofollow" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/kvictor.com" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://github.com/Kvictor" rel="nofollow" target="_blank"><i class="fab fa-github"></i></a></div>
            </div>
            <div class="copyright col-xs-12">Copyright © 2019 Kvictor. All rights reserved.</div>
        </div>
    </footer>
</body>
</html>
