<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title>Mid React Developer</title>
  <link rel="apple-touch-icon" sizes="180x180" href="public/assets/favicon/apple-touch-icon-8c0cf252bca1a5804713f7e1f8c31ba8a03a817393bf383fc9cf2b2d2c0fad25.png">
  <link rel="icon" type="image/png" sizes="32x32" href="public/assets/favicon/favicon-32x32-dd7b38a61df9e57284298e8dbe8dca6fbdedaa949fba7cf4515d90f667c20f2a.png">
  <link rel="icon" type="image/png" sizes="16x16" href="public/assets/favicon/favicon-16x16-51573976454ebff716d2aab15425f108ef76000242a257e5c676d17516aff43a.png">
  <link rel="manifest" href="public/assets/favicon/site-742a155262aedb4794da914ca2027cc31511b484efb622c4362376c05d28059f.webmanifest">
  <link rel="mask-icon" href="public/assets/favicon/safari-pinned-tab-7beff37f48c6586d80c0639e033291e0c6ad85a027693e12dd9f5cef3129507f.svg" color="#000000">
  <link rel="shortcut icon" href="public/assets/favicon/favicon-5d7ff65028e35782a9e888231a2d0f090f0dae67ecf3858ed3c371f41dfb7ed6.ico">
  <meta name="apple-mobile-web-app-title" content="the/masters">
  <meta name="application-name" content="the/masters">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="public/assets/favicon/browserconfig-c69d5e938f360ba9d2a538239d3415c30b10760abcf4a9bce986b3484f3d562a.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all" href="public/assets/application.css  " data-turbolinks-track="reload" />
  <script src="public/assets/application.js  " data-turbolinks-track="reload"></script>
</head>

<body>
  <nav class="mobile-nav visible-xs-block">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="logo"><a href="..//"><img alt=" Kvictor Logo" srcset="/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
        <div class="collapsed" data-target="#collapse-mobile-nav" data-toggle="collapse" id="nav-icon"><span></span><span></span><span></span></div>
      </div>
      <div class="collapse" id="collapse-mobile-nav">
        <ul class="navbar-nav mr-auto">
          <li><a href="../services.html">Services</a></li>
          <li><a href="../portfolio.html">Portfolio</a></li>
          <li><a href="../about-us.html">About us</a></li>
          <li><a href="../blog.html">Blog</a></li>
          <li><a href="../career.html">Careers</a></li>
        </ul>
        <div class="text-align-center"><button class="contact" onclick="window.location.href=&#39;/contact&#39;">Contact us</button></div>
        <div class="text-align-center new-blog-post">
          <div class="line1">Check out our new blog post!</div>
          <div class="line2"><a data-method="get" href="../blog/posts/a-boost-in-the-development-of-foodtech-in-2019-is-a-fact.html">A boost in the development of Foodtech in 2019 is a fact</a></div>
        </div>
      </div>
    </div>
  </nav>
  <div class="stripes-top">
    <div class="desktop visible-lg">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
    <div class="mobile visible-xs-block">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
  </div>
  <div id="careers">
    <div class="head-section careers-head-section">
      <div class="overlay">
        <div class="container above-stripe">
          <div class="desktop-nav hidden-xs">
            <div class="new-blog-post with-text-shadow">Check out our new blog post!<a data-method="get" href="../blog/posts/a-boost-in-the-development-of-foodtech-in-2019-is-a-fact.html">A boost in the development of Foodtech in 2019 is a fact</a></div>
            <div class="logo"><a href="..//"><img alt=" Kvictor Logo" srcset="/assets/common/logo@2x-f53a783ea1ab708f48d0696a7dda9a812126002d31ef106e9364b211a890183f.png 2x" src="public/assets/common/logo-7a61a9e50dc9d3581c81183c32d0115c5ab0408ca2e7065c7d0e26cf5effda5b.png" /></a></div>
            <div class="nav">
              <ul class="list-inline">
                <li><a href="../services.html">Services</a></li>
                <li><a href="../portfolio.html">Portfolio</a></li>
                <li><a href="../about-us.html">About us</a></li>
                <li><a href="../blog.html">Blog</a></li>
                <li><a class="active" aria-current="page" href="../career.html">Careers</a></li>
              </ul>
            </div>
            <div class="contact"><a class="contact" href="../contact.html">Contact us</a></div>
          </div>
          <div class="breadcrumbs-link"><a class="span-like arrow-link" href="/careers"><i class="fa fa-arrow-left"></i>Go back to careers</a></div>
          <h1 class="h2-like">Mid React Developer</h1>
          <p>Come aboard and join our bunch of tech enthusiasts passionate about building top quality software and having fun doing it!</p>
        </div>
      </div>
    </div>
    <div class="job-offer-content-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-xs-12 col-sm-12">
            <h2>Are you ready to become one of The Masters?</h2>
            <p>We are a mature software development agency that consists of over 20 sharp minds that never stop learning. For the last 5 years, we’ve been collaborating with companies all around the world building forward-thinking apps that improve
              people’s lives. We are Agile and we like Scrum. We are a real team, we always support, challenge and inspire each other. </p>
            <h2>A Mid React Developer at The Masters is someone who</h2>
            <ul>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Wants to collaborate with very experienced developers and learn from them every day.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Believes that you can never stop learning to stay ahead of the game.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Is excited to work with companies all around the world.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Appreciates a regular thorough code review and mentoring by more experienced developers.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Loves clean code :)</div>
                </div>
              </li>
            </ul>
            <h2>We are looking for someone who</h2>
            <ul>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Has 1+ year of experience in building commercial apps in React</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Has 2+ years of experience programming in general.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Is familiar with HTML5, CSS3 (SASS/SCSS), Ecma or Typescript.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Likes Agile and Scrum.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Follows a testing-oriented approach.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Speaks English very well (B2+) and likes talking to foreigners.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Full-time availability (120+ h/month).</div>
                </div>
              </li>
            </ul>
            <h2>It would be nice if you</h2>
            <ul>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Are familiar with any other modern JavaScript frameworks such as
                    Angular/AngularJS/Vue.js/Ember.js.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Use GIT.</div>
                </div>
              </li>
            </ul>
            <h2>We offer you</h2>
            <ul>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">5 200 - 8 400 PLN + VAT (B2B)</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">An Apple MacBook or another top-notch notebook of your choice.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Flexible working hours.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">An option to work almost fully remotely (95% of the time).</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">An annual budget for conferences,
                    workshops and courses of your choice.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">An office in the city centre with parking spot allowance.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Weekly English classes with a Native Speaker.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Private health care allowance.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">A Multisport card.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Unlimited hot and soft drinks.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Xbox games during a break.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Monthly team-building meetings
                    over a pint of craft beer.</div>
                </div>
              </li>
              <li>
                <div class="bullet-row">
                  <div class="bullet">•</div>
                  <div class="li">Lots of fun :)</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-5 col-xs-12 col-sm-12">
            <div class="contact-container">
              <h2>Come on aboard</h2>
              <p>Fill out this simple form. Our team will contact you promptly to discuss next steps.</p>
              <form class="contact-form above-stripe" data-parsley-validate="" id="contact-form">
                <div class="form-group"><label>Your name</label><input class="form-control" data-parsley-error-message="can&#39;t be blank" data-parsley-trigger="change" id="name" name="user_inquiry[name]" required="" type="text" />
                  <div class="error-message" data-input="name"></div>
                </div>
                <div class="form-group"><label>Email</label><input class="form-control" data-parsley-error-message="is not an email" data-parsley-trigger="change" id="email" name="user_inquiry[email]" required="" type="email" />
                  <div class="error-message" data-input="email"></div>
                </div>
                <div class="form-group hidden"><input value="mid_react" type="hidden" name="user_inquiry[category]" id="user_inquiry_category" /></div>
                <div class="form-group"><label>Phone number (optional)</label><input class="form-control" id="phone" name="user_inquiry[phone]" type="text" /></div>
                <div class="form-group"><label>Tell us something about you</label>
                  <div class="textarea-box"><textarea class="form-control" id="message" name="user_inquiry[message]" placeholder="Your message..."></textarea>
                    <div class="error-message" data-input="file"></div>
                    <div class="attachment"><label data-label="Browse" for="file"><i class="fa fa-paperclip"></i>Browse</label><input class="form-control" id="file" name="user_inquiry[file]" type="file" /><a class="hidden" id="clear-btn">&#x2715;</a></div>
                  </div>
                </div>
                <div class="get-free-evaluation text-align-center"><button class="common" type="button">Send</button></div>
              </form>
              <div class="masters-modal modal" id="contact-modal" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body"><span>SUCCESS</span>
                      <h2 id="modal-title">Thanks for submitting the form!</h2>
                      <p id="modal-description">Left the rest to us.<br />Keep calm and we will contact you shortly.</p><button class="common" data-dismiss="modal" type="button">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="benefits-section">
      <div class="container">
        <div class="text-align-center">
          <div><span>BENEFITS</span>
            <h2>Why is it awesome to be one of The Masters?</h2>
            <p>Except working in a professional, challenging and supportive environment, The Masters offers a number of benefits. We work hard but have lots of fun too!</p>
          </div>
        </div>
        <div>
          <div class="section-name with-line-after">
            <h3>Workation in Malaga, Spain</h3>
          </div>
          <div class="owl-carousel owl-theme workation-carousel">
            <div class="item">
              <div class="img"><img alt="workation/workation1" src="public/assets/careers/workation/workation1-ae92da9fec6faeff65003cfb8cb974f056288a1c70926f7e1538192f206729bf.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation2" src="public/assets/careers/workation/workation2-b982335359fb2adb5b0dc37f14581ac0c90691f53f68832669bf35e500533f9d.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation3" src="public/assets/careers/workation/workation3-ca83e50823c83504d2f8b881ef229227c9cfb6b5bc39923bc07f27b496505a4a.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation4" src="public/assets/careers/workation/workation4-a8ac5a0209149b3b5c9c062e438a79f32c527484fdedcddaf045c9e46aa4489e.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation5" src="public/assets/careers/workation/workation5-239faccde45489227b0a3349d3a2d0443569ab3962f284a0eec4107def7a2e2e.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation6" src="public/assets/careers/workation/workation6-23b297a6bbaf6d33dcce7e82b96866530fa53a7426fb851bb18a0a016d00ff92.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation7" src="public/assets/careers/workation/workation7-82576a0ff4d93479e049856e8969317c176954031fad3c58dbe2b9c910526afe.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation8" src="public/assets/careers/workation/workation8-9a279862373c837e2e6bd7b80d1a911198baedbfd4b0051ce990157d4d5eebf2.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation9" src="public/assets/careers/workation/workation9-bec232b56e3e3496d714004cd572405d326d023b93506246bff2e9e79be01932.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation10" src="public/assets/careers/workation/workation10-f4d4ca5301e1e529782502cee2930e3472226e64c02ed610920ea180a20d510b.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation11" src="public/assets/careers/workation/workation11-58759a225542954f5217b371d03ebc62666d72920e59613c8dd7e0ba876752ec.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation12" src="public/assets/careers/workation/workation12-d701d3f0b239264e20b50d0130cd9bf5c880d3c38936cc94c11aac0b9593f9b1.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation13" src="public/assets/careers/workation/workation13-7762f970d6bfce2e61dd27c397378d104d14f8b5bb0dfcac56a8a7111198c047.jpg" /></div>
            </div>
            <div class="item">
              <div class="img"><img alt="workation/workation14" src="public/assets/careers/workation/workation14-21e2bad69627f2d973822d519dc52ef9f7addc478c745b8f5bfab7527f137158.jpg" /></div>
            </div>
          </div>
        </div>
        <div>
          <div class="section-name with-line-before">
            <h3>City centre office & various benefits</h3>
          </div>
          <div class="owl-carousel owl-theme office-carousel">
            <div class="item">
              <div class="item-desc">
                <h4>Office right in the city center</h4>
              </div>
              <div class="img"><img alt="benefits/city" src="public/assets/careers/benefits/city-a5bd2398bb7088aea0508fed7f59f50ab12d1e50f4897efdeef9a9384b9c27b0.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Your favorite equipment</h4>
              </div>
              <div class="img"><img alt="benefits/mac" src="public/assets/careers/benefits/mac-5e0700fbe7463daebe7e808bf43e6b2568cffbbdab8186dd888200e97966a561.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Free breakfast and lunch on Tuesdays</h4>
              </div>
              <div class="img"><img alt="benefits/kanapki" src="public/assets/careers/benefits/kanapki-b10d3156eaece807b731832eabf09a1fef195aaec5b599bb553eeedb268de027.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Xbox games</h4>
              </div>
              <div class="img"><img alt="benefits/xbox" src="public/assets/careers/benefits/xbox-3259c8ee2208e0782a86f3d9e568dbaa01381944931f29ddd9122777d1a3d873.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Monthly team building events</h4>
              </div>
              <div class="img"><img alt="benefits/team_bulding" src="public/assets/careers/benefits/team_bulding-0b0a22f03907468c8ffd5417768f0826d75b807500af569f5b0c626e466555c8.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Variety of unlimited soft drinks</h4>
              </div>
              <div class="img"><img alt="benefits/coffee" src="public/assets/careers/benefits/coffee-3d14a8c1b727d88fdb0dc55ae08e177b7f6698bfdf8d6708a7f2944dc94ca7df.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Private health care</h4>
              </div>
              <div class="img"><img alt="benefits/luxmed" src="public/assets/careers/benefits/luxmed-ddf210464af2dbfffb0e8b8623e4efb658992c72a9b07b7b9d88d9504a0dfa26.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>English lessons with a native speaker</h4>
              </div>
              <div class="img"><img alt="benefits/english" src="public/assets/careers/benefits/english-fdef09a940c75747766a1c3afb46af96c60ca160805702ae2d6553412cd9abdc.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Flexible working hours</h4>
              </div>
              <div class="img"><img alt="benefits/working_hours" src="public/assets/careers/benefits/working_hours-dd07cef5179e1b8f3e19b0c5e60eac4a7900bfc5b96f41d8f221a38e34402db2.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Multisport card</h4>
              </div>
              <div class="img"><img alt="benefits/multisport" src="public/assets/careers/benefits/multisport-ec7f0e41646adb13f9cd6ce3ca59dab45586d18dd57949a6e5dd6aca47b9ad61.jpg" /></div>
              <div class="cover"></div>
            </div>
            <div class="item">
              <div class="item-desc">
                <h4>Office library</h4>
              </div>
              <div class="img"><img alt="benefits/library" src="public/assets/careers/benefits/library-3e11878e8677665e534b5e63413e4bb2bf44fe22587ccd26484240b91cea4943.jpg" /></div>
              <div class="cover"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-small-section share-this-offer">
      <div class="container above-stripe">
        <div class="text-align-center">
          <div class="box">
            <h2>Let your friends know about this offer</h2>
            <div class="social">
              <div class="media">
                <div class="col"><a rel="nofollow" target="_blank" class="decoration-none" href="https://www.facebook.com/sharer/sharer.php?u=https://themasters.io/career/mid-react-developer"><i class="fab fab fa-facebook-f"></i></a></div>
                <div class="col"><a rel="nofollow" target="_blank" class="decoration-none" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://themasters.io/career/mid-react-developer&amp;title=Mid%20React%20Developer%20%20The%20Masters&amp;summary=&amp;source="><i
                      class="fab fa-linkedin-in"></i></a></div>
                <div class="col"><a rel="nofollow" target="_blank" class="decoration-none" href="https://twitter.com/home?status=https://themasters.io/career/mid-react-developer"><i class="fab fa-twitter"></i></a></div>
                <div class="col"><a rel="nofollow" target="_blank" class="decoration-none" href="https://plus.google.com/share?url=https://themasters.io/career/mid-react-developer"><i class="fab fa-google-plus-g"></i></a></div>
              </div>
            </div>
            <div class="copy">
              <div class="input-group"><input type="text" name="copy-input" id="copy-input-tag" value="https://themasters.io/career/mid-react-developer" class="form-control" />
                <div class="input-group-addon"><button name="button" type="button" data-clipboard-target="#copy-input-tag" class="copy-button"><i class="far fa-clipboard"></i></button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stripes-bottom">
    <div class="desktop visible-lg">
      <div class="trigger"></div>
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-3 col logo-col"><a class="active" aria-current="page" href="..//"><img alt=" Kvictor Logo" srcset="/assets/common/logo-white@2x-4032c6002c03f81dbb6d165b29159bb501465affe3108e090fc43100bd258eec.png 2x"
            src="public/assets/common/logo-white-7ffb77ff385f90229ac8168274bd3317d4b3f0db32309d659173230bda59c838.png" /></a></div>
      <div class="col-xs-12 col-sm-6 col-md-2 col menu-col"><span>COMPANY</span>
        <div class="content">
          <p><a href="../services.html">Services</a></p>
          <p><a href="../portfolio.html">Portfolio</a></p>
          <p><a href="../about-us.html">About us</a></p>
          <p><a href="../blog.html">Blog</a></p>
          <p><a href="../career.html">Careers</a></p>
          <p><a class="active" aria-current="page" href="../contact.html">Contact Us</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col info-col"><span>INFO AND CONTACT</span>
        <div class="content">
          <p>The Masters Sp. z o. o.<br />ul. Kazimierza Wielkiego 64-66<br />50-077 Wrocław</p>
          <p>NIP 8943060072<br />KRS 0000546003</p>
          <p><a href="tel:+48693295656" target="_blank">+ 48 693 295 656<i class="fa fa-phone"></i></a><br /><a href="mailto:michal@themasters.io" target="_blank">michal@themasters.io<i class="fa fa-envelope"></i></a><br /><a href="skype:michal.szehidewicz?call">Skype
              call<i class="fab fa-skype"></i></a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col follow-col"><span>FOLLOW US</span>
        <div class="d-block media"><a href="https://www.facebook.com/TheMasters.io/" rel="nofollow" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.linkedin.com/company/themasters-io/" rel="nofollow" target="_blank"><i
              class="fab fa-linkedin-in"></i></a><a href="https://www.instagram.com/themasters.io/" rel="nofollow" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/themasters_io" rel="nofollow" target="_blank"><i
              class="fab fa-twitter"></i></a><a href="https://github.com/themasters" rel="nofollow" target="_blank"><i class="fab fa-github"></i></a></div>
        <div class="new-blog-post">
          <div class="line1">Check out our new blog post!</div>
          <div class="line2"><a data-method="get" href="../blog/posts/new-technologies-vs-old-ones-what-stack-to-choose-for-your-project.html">New technologies vs old ones. What stack to choose for your project?</a></div>
        </div><a class="clutch-badge" href="https://clutch.co/profile/masters" rel="nofollow" target="_blank"><img alt="We Deliver on Clutch" srcset="/assets/common/clutch@2x-27bea0d415a382d6b1a1062c5486bb65b1367f7b4a041ffc6ae335234f013f56.png 2x"
            src="public/assets/common/clutch-79d7606ce72cec50e84a89965eed12a3e0557e22c4909988856dcb60dbba35c1.png" /></a><a class="wadline-badge" href="https://wadline.com/themasters" rel="nofollow" target="_blank"><img alt="Wadline" srcset="/assets/common/wadline@2x-be1ffad9d8e3699f2113ebb9ce162c0d87be5c767a3ef85d604760de5857763e.png 2x"
            src="public/assets/common/wadline-a7cbe19867ed0182f36a3113331d77d15d9a956dfec6d87f4de5e78612d6e760.png" /></a>
      </div>
      <div class="copyright col-xs-12">Copyright © 2018 The Masters. All rights reserved.</div>
    </div>
  </footer>
</body>


<!-- Mirrored from themasters.io/career/mid-react-developer by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Jun 2019 10:33:53 GMT -->

</html>
